<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="ResourceBaseUrl" value="/webapp/mytour/resource"/>
  <add key="ResourceBaseUrlDest" value="/webapp/mytour/dest/resource"/>
  <add key="restfullApi" value="http://gateway.m.fws.qa.nt.ctripcorp.com/restapi/soa2"/>
  <add key="lizard" value="http://webresource.fws.qa.nt.ctripcorp.com/code/lizard/2.1/web/lizard.seed.beta.js"/>
  <add key="ResourceRoot" value="http://webresource.fws.qa.nt.ctripcorp.com"/>
  <add key="tour_ver" value="2014102301"/>
  <!--应用号-->
  <add key="AppID" value="340432"/>
  <add value="collector.logging.sh.ctriptravel.com" key="LoggingServer.V2.IP"/>
  <add value="63100" key="LoggingServer.V2.Port"/>
  <add key="FxConfigServiceUrl" value="http://ws.config.framework.fws.qa.nt.ctripcorp.com/configws/"/>
  <add key="ApplicationID" value="340432"/>
  <add key="vs:EnableBrowserLink" value="false" />

</appSettings>
