<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="ResourceBaseUrl" value="/webapp/mytour/resource"/>
  <add key="ResourceBaseUrlDest" value="/webapp/mytour/resh5tourapponline/resource"/>
  <add key="restfullApi" value="http://m.ctrip.com/restapi/soa2"/>
  <add key="tourAppBaseUrl" value="/webapp/tour/"/>
  <!--应用号-->
  <add key="AppID" value="340432"/>
  <add key="ApplicationID" value="340432"/>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="FxConfigServiceUrl" value="http://ws.config.framework.fws.qa.nt.ctripcorp.com/configws/"/>
  <add key="LoggingServer.V2.IP" value="collector.logging.fws.qa.nt.ctripcorp.com" />
  <add key="LoggingServer.V2.Port" value="63100" />
  <add key="ExpCode" value="150619_vag_006" />
</appSettings>
