@using System.Configuration

<!DOCTYPE html>
<html>
<head>
    @RenderPage("../Shared/Header.cshtml")
</head>
<body class="gray" onselectstart="return false">
   

    This Is Index,

    @RenderPage("../Shared/Footer.cshtml")
</body>
</html>


